* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.95rem;
}

#sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: inherit;
}

#sidebar h5 {
  cursor: pointer;
}

#sidebarFavouritesWrapper {
  display: block;
}

.text-clamp-2-lines #seeMore{
  display: none;
}

@media only screen and (max-width: 1199px) {
  * {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 991px) {
  * {
    font-size: 0.85rem;
  }

  #sidebar {
    top: 0;
    height: fit-content;
    padding: 0.3rem 0.5rem !important;
  }

  #sidebar .closeButton {
    display: block !important;
  }

  #sidebarHeading {
    font-size: 0.9rem;
    margin: 0.5rem auto !important;
  }

  .text-muted {
    display: none;
  }

  #searchTitle {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 576px) {

  .text-clamp-4-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
